<div class="container">
<%= link_to "upload image", new_image_path, class: "btn btn-info" %>
<br>
<br>

<% if @images == [] %>
  Images none
<% else %>
  <% @images.each do |image| %>
    <div class="text-center"><%= image_tag image.image.url, width: 500 %></div>
    <br>
    User: (<%= image.user.nickname %>)
    <br>
    <h3 class="text-danger"> <%= link_to "", voteforphoto_image_path(image.id) , class: ' text-danger glyphicon glyphicon-heart'%>
      <%= @like[image.id] %></h3>
    
    <br>
    <br>
    <% if current_user != nil and current_user.id == image.user_id %>
    <%= link_to "Delete", image_path(image.id), data: {confim: 'Are you sure?'}, method: :delete , class: "btn btn-warning"%>
    <% end %>
    <br><br>
  <% end %>
<% end %>
</div>